body {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #c94422;
	height: 100vh;
	justify-content: center;
	color: #fff;
}

.centered {
	/* padding-top: 200px; */
	text-align: center;
}

.secret-text {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background-color: #000;
}
.card,
.card-body,
.card-style {
	background: #f46433;
	color: #fff;
	border-radius: 10px;
	border-color: #fff;
}
.card-style {
	border: solid 1px #fff;
}

.click-here {
	color: #ffe400;
}
